<div class="row">
	<div class="col-xs-12">
		<ul class="breadcrumb">
			<li><a href="#">Home</a></li>
			{{#each model.parents as |parent|}}
				<li>{{#link-to "asset" parent.ASSET_ID }}{{parent.ASSET_RECORD_TYPE}}/{{parent.ASSET_ID}}{{/link-to}}</li>
		   	{{/each}}
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h3><strong>Asset:</strong> {{model.asset.ASSET_RECORD_TYPE}}/{{model.asset.ASSET_ID}}</h3>
		<h3><strong>Description:</strong> {{model.asset.ASSET_DESC}}</h3>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-xs-12">
		<table class="table table-bordered table-condensed">
			<tbody>
				<tr>
					<td><strong>Status</strong></td>
					<td>{{model.asset.ASSET_STATUS}}</td>
					<td><strong>Criticality</strong></td>
					<td>{{model.asset.CRITICALITY}}</td>
				</tr>
				<tr>
					<td><strong>Asset Type</strong></td>
					<td>{{model.asset.ASSET_TYPE}}</td>
					<td><strong>Parent Asset</strong></td>
					<td>{{model.asset.PARENT_ASSET_ID}}</td>
				</tr>
				<tr>
					<td><strong>Asset Class</strong></td>
					<td>{{model.asset.CLASS}}</td>
					<td><strong>Process</strong></td>
					<td>{{model.asset.PROCESS_NO}}</td>
				</tr>
				<tr>
					<td><strong>BOM ID</strong></td>
					<td>{{model.asset.BOM_ID}}</td>
					<td><strong>Specification</strong></td>
					<td>{{model.asset.SPECIFICATION_NO}}</td>
				</tr>
				<tr>
					<td ><strong>Location</strong></td>
					<td colspan="3">{{model.asset.LOCATION}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{{# if model.cost }}
<div class="row">
	<div class="col-xs-6">
		<h4>Costs</h4>
		<table class="table table-bordered table-condensed">
			<tbody>
				{{#each model.cost as |cost|}}
				<tr>
					<td colspan="2">
						<strong>{{cost.PERIOD_YEAR}}</strong>
					</td>
				</tr>
				<tr>
					<td><strong>Direct Cost</strong></td>
					<td>{{cost.DIRECT_COST}}</td>
				</tr>
				<tr>
					<td><strong>Child Cost</strong></td>
					<td>{{cost.CHILD_COST}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>

	</div>
	<div class="col-xs-6">
		<h4>Costs Graph</h4>
		{{cost-chart data=model.cost }}
	</div>
</div>
{{else}}
<div class="row">
	<div class="col-xs-6">
		<h4>No Cost Information</h4>
	</div>
</div>
{{/if}}
<hr/>

{{# if model.asset.CHILD_COUNT }}
<div class="row">
	
	<div class="col-xs-12">
		<h4>Child Assets of {{model.asset.ASSET_RECORD_TYPE}}/{{model.asset.ASSET_ID}} ({{model.asset.CHILD_COUNT}})</h4>
	</div>
	<div class="col-xs-12">
	{{#each model.children as |assets|}}
		<h5>{{assets.type}}</h5>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Asset</th>
					<th>Child Asset Count</th>
					<th>Asset Description</th>
					<th>Location</th>
					<th>Work Request Count</th>
					<th>Work Order Count</th>
				</tr>
			</thead>
			{{#each assets.assets as |asset|}}
					<tbody>
						<tr>
							<td>
								{{#link-to "asset" asset.ASSET_ID }}{{asset.ASSET_RECORD_TYPE}}/{{asset.ASSET_ID}}{{/link-to}}
							</td>
							<td>
								{{asset.CHILD_COUNT}}
							</td>
							<td>
								{{asset.ASSET_DESC}}
							</td>
							<td>
								{{asset.LOCATION}}
							</td>
							<td>
								{{asset.OPEN_WR_COUNT}}
							</td>
							<td>
								{{asset.OPEN_WO_COUNT}}
							</td>
						</tr>

					</tbody>
			{{/each}}
		</table>
	{{/each}}
	<\hr>
	</div>
</div>

{{else}}
<div class="row">
	<div class="col-xs-6">
		<h4>No Child Assets</h4>
	</div>
</div>
{{/if}}
